<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acadeno Login</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <main class="login-container">
        <div class="left-panel">
            <div class="welcome-note">
                <h1>WELCOME.</h1>
                <p>Your personal academic command center. Track your progress, manage upcoming deadlines, and connect with your resources—all in one place</p>
            </div>
            <span class="copyright">© 2026 Acadeno</span>
        </div>

        <div class="right-panel">
            <h1>Acadeno</h1>
            <form action="dashboard/dashboard.html">
                <input type="email" placeholder="Enter your Email" required>
                <input type="password" placeholder="Enter your password" required>
                
                <div class="form-options">
                    <label><input type="checkbox"> Remember Me</label>
                    <a href="#">Forget Password</a>
                </div>

                <button type="submit">LOGIN</button>
            </form>

            <p class="signup-link">don’t have an account? <a href="#">sign-up now.</a></p>
        </div>
    </main>
</body>
</html>