.sidebar { 
    display: flex;
    height: 100vh;
    width: 300px;
    flex-shrink: 0; 
    background: var(--navy); 
    color: var(--text-on-dark);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 5px;
    flex-direction: column;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.nav-button ::deep .nav-link {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 25px;
    color: #f1f5f9;
    font-weight: 600;
    text-decoration: none !important;
    border-radius: 15px 0 0 15px; /* The rounded "inward" side */
    transition: all 0.3s ease;
    background-color: #0D1B3E;
}

.nav-button ::deep a.active {
    background-color: #F1F5F9 !important;
    color: #0d1b3e !important;
    text-decoration: none !important;
}

.nav-button ::deep .nav-link:hover {
    background-color: #f1f5f97f;
    color: #0D1B3E;
    text-decoration: none !important;
}

/*  HEADER  */

.sidebar-header {
    align-content: center;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 10px;
    pointer-events: none;
    width: 100%;
}

.logo {
    font-family: 'Montserrat'; 
    font-weight: 800; 
    font-size: 1.5rem; 
    color: #38bdf8; 
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 0.1em;
}

.user-info { 
    text-align: left;
}

/*  FOOTER  */

.sidebar-footer { 
    margin-top: auto; 
    color: rgba(255, 255, 255, 0.5); 
    font-size: 0.85rem; 
    padding-top: 10px;
    padding-right: 20px; 
}

.logout-nav {
    display: block !important; 
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--navy);
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease;
}

.logout-btn:hover {
    background-color: #ff686b;
    color: white;
    text-decoration: none;
}

.copyright { 
    margin-top: 10px;
    font-size: 0.75rem;
    pointer-events: none;
}